body{
  background-color: rgb(16, 45, 45);
}

.header-div{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  color: gold;
}

.dollar-sign1{
  font-size: 60px;
  font-weight: bold;
  color: green;
  margin-right: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.dollar-sign2{
  font-size: 60px;
  font-weight: bold;
  color: green;
  margin-left: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.input-and-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  gap: 5vh;
}


#cash{
  margin:auto;
  font-size: 16px;
}

.change-and-total{
  flex-direction: column;
  justify-content: center;
}

.change-and-total p{
  color: gold;
}

#purchase-btn{
  margin:auto;
  margin-top: 5vh;
  justify-content: center;
  font-size: 16px;
  background-color: gold;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-width: 4px;
  border-radius: 1vh;
  transition: .1s;
}

#purchase-btn:active{
  background-color: rgb(255, 225, 58)
}